<div [ngClass]="mainClass">
  <h1>Список дел</h1>

<button (click)="addUser()">Добавить</button>

@if (this.users.length){
<table>
  <tbody>
  <tr>
    <th>Id</th>
    <th>Название</th>
    <th>Количество часов</th>
    <th></th>
  </tr>
  @for (user of users; track $index){
    <tr>
      <ng-template [ngTemplateOutlet]="loadTemplate(user)!" [ngTemplateOutletContext]="{ $implicit: user}">
      </ng-template>
    </tr>
  }
  </tbody>
</table>
<div>{{statusMessage}}</div>

<ng-template #readOnlyTemplate let-user>
  <td>{{user.id}}</td>
  <td>{{user.name}}</td>
  <td>{{user.age}}</td>
  <td>
    <button (click)="editUser(user)">Изменить</button>
    <button (click)="delete(user)">Удалить</button>
  </td>
</ng-template>

<ng-template #editTemplate>
  <td>
    <input [(ngModel)] ="editedUser!.id" readonly disabled/>
  </td>
  <td>
    <input [(ngModel)] ="editedUser!.name"/>
  </td>
  <td>
    <input type="number" [(ngModel)] ="editedUser!.age"/>
  </td>
<button (click)="saveUser()">Сохранить</button>
<button (click)="cancel()">Отмена</button>
</ng-template>
}
@else{
  <h1>Загрузка!</h1>
}
</div>